*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
images/hle/** !text !filter !merge !diff
hle/** !text !filter !merge !diff
mmsearch/** !text !filter !merge !diff
